
.icon-b1:before { content: '\e800'; } /* '' */
.icon-b2:before { content: '\e801'; } /* '' */
.icon-b3:before { content: '\e802'; } /* '' */
.icon-b4:before { content: '\e803'; } /* '' */
.icon-b5:before { content: '\e804'; } /* '' */
